

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.App {
  display: grid;
  color: white;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 200px); */
  gap: 20px;
  grid-template-areas: "header header header"
                       "nav profile profile"
                       "nav profile profile"
                       "nav profile profile"
                       "nav profile profile";
  
                       
}

.header {
  background-color: rgb(70, 79, 121);
  grid-area: header;
  border-radius: 10px;
  line-height: 250px;
  padding: 0 20px;
}
.nav{
    background-color: rgb(70, 79, 121);
    grid-area: nav;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.nav_link{
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 40px;
}
.profile{
    background-color: rgb(70, 79, 121);
    grid-area: profile;
    border-radius: 10px;
}
.prof_info{
  display: flex;
  
}
.prof_photo{
  width: 30%;
  border-top-left-radius: 10px;
}
.user{
  margin-left: 20px;
}
.posts{
  margin: 40px;
}
.post{
  margin: 40px 0;
}
.small_photo{
  width: 5%;
}
.user_post{
  margin-left: 10px;
}
.logo{
  width: 100px;
  height: 70px;
}
.postLikes{
  vertical-align: super;
}
.post_text{
  display: inline-block;
}